<h1>My Recorded Trainings</h1>

<div>
    <ul>
    <% @trainings.each do |training| %>
    <li><strong>Date:</strong> <%= training.date %>
    <strong>Notes:</strong> <%= training.notes %>
    <strong>Associated Workout, if any:</strong> <%= training.workout.name %></li>
    <% end %>
    </ul>
</div>