<h1>Training Details</h1>

<strong>Training Date: </strong><%= @training.date.strftime("%b %e, %Y") %><br>
<strong>Associated Workout: </strong><%= @training.workout.name %><br>
<strong>Notes: </strong><%= @training.notes %>
<br></br>
<%= link_to 'All Trainings', trainings_path %>