<h1>All Workouts</h1>

<div>
<% @workouts.each do |workout| %>
<li>Name: <%= link_to workout.name, workout_path(workout) %>
Category: <%= workout.category %>
Duration: <%= workout.duration %>
Intensity: <%= workout.intensity %></li><br>
<% end %>
</div>

