<h1>All Workouts</h1>
<p>Here are some workouts that other users have logged and that you might try.</p>

<br></br>

<div>
<% @workouts.each do |workout| %>
<li><strong>Name:</strong> <%= link_to workout.name, workout_path(workout) %>
<strong>Category:</strong> <%= workout.category %>
<strong>Duration:</strong> <%= workout.duration %>
<strong>Intensity:</strong> <%= workout.intensity %></li><br>
<% end %>
</div>

