<h1>My Events</h1>

<div>
<li><% @events.all do |event| %>
Title: <%= link_to event.title, event_path(@event) %>
Category: <%= event.category %>
Description: <%= event.description %>
Length: <%= event.length %></li>
<% end %>
</div>

