<h1>My Events</h1>

<div>
<% current_user.events.each do |event| %>
<li><strong>Title:</strong> <%= link_to event.title, event_path(event) %>
<strong>Category:</strong> <%= event.category %>
<strong>Description:</strong> <%= event.description %>
<strong>Length:</strong> <%= event.length %> miles </li>
<br>
<% end %>
</div>

