<h1>My Events</h1>

<div>
<% current_user.events.each do |event| %>
<li>Title: <%= link_to event.title, event_path(event) %>
Category: <%= event.category %>
Description: <%= event.description %>
Length: <%= event.length %></li>
<br>
<% end %>
</div>

